
<!-- view_all_books.html -->
{% extends 'student_navbar.html' %}
{% load static %}

{% block title %}All Books{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>All Books</h1>
    <ul class="list-group">
        {% for book in books %}
        <li class="list-group-item">
            <h3>{{ book.name }}</h3>
            <p>Author: {{ book.author }}</p>
            <p>ISBN: {{ book.isbn }}</p>
            <p>Category: {{ book.category }}</p>
            {% if request.user.is_admin %}
             {% if book.pdf_file %}
             <div class="btn-group" role="group" aria-label="PDF Actions">
                <a href="{{ book.pdf_file.url }}" class="btn btn-primary" target="_blank">View PDF</a> <!-- Open PDF in new tab -->
                <a href="{{ book.pdf_file.url }}" class="btn btn-success" download>Download PDF</a>
             </div>
             {% else %}
             <p>No PDF available</p>
             {% endif %}
            {% endif %}
        </li>
         

        {% endfor %}
    </ul>
</div>
{% endblock %}